.container{
    height: calc(100vh - 100px);
    background-color: #222;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-top: 20px;
}
.title{
    font-size: 18px;
    color: #b7903c;
}
.text{
    color: lightgrey;
}
.motto{
    color: rgb(211, 211, 211);
}
