
.container{
    height: 100px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}
.item{
    flex: 1;
    display: flex;
    align-items: center;
}
.item:nth-child(2){
    flex: 3;
}
.item:last-child{
    justify-content: flex-end;
}
.callButton{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}
.texts{
    margin-left: 20px;
    color: white;
}
.text:first-child{
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}
.text:last-child{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    margin-left: 10%;
}
.listItem{
    margin: 20px;
    font-weight: 500;
}
.counter{
    position: absolute;
    top: 25px;
    right: 40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #d1411e;
}